<ion-view view-title="欢迎来到爱度假" id="tour-view">

  <ion-slide-box show-pager="true">
    <!--第1页-->
    <ion-slide>
      <span class="icon icon-slide ion-document-text"></span>
      <h3>查看你的预订</h3>
    </ion-slide>
    <!--第2页-->
    <ion-slide>
      <span class="icon icon-slide ion-fork"></span>
      <h3>寻找最近的餐厅</h3>
    </ion-slide>
    <!--第3页-->
    <ion-slide>
      <span class="icon icon-slide ion-ios-sunny"></span>
      <h3>获取天气</h3>
      <a class="button start" href="#/home">开始体验</a>
    </ion-slide>

  </ion-slide-box>

</ion-view>
